.courses-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.courses-list__course-item {
    margin-bottom: 20px;
}

.courses-list__load-more {
    margin: 0 auto;
    width: 100%;
}

.courses-list__no-courses {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    text-transform: uppercase;
    color: #BDBDBD;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}


