.courses-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    flex-direction: column;
}

.courses-list__course-item {
    margin-bottom: 20px;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
}

.courses-list__load-more {
    margin: 0 auto;
    width: 100%;
}

.courses-list__no-courses {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    text-transform: uppercase;
    color: #BDBDBD;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

.course-item_fresh {
    border: 1px solid #4CAF50;
}

.course-item_upcoming {
    border: 1px solid #03A9F4;
}




