.breadcrumbs {
    display: flex;
    align-items: center;
    height: 40px;
    box-shadow: #DDDDDD 0 1px 0px 1px;
    padding: 0 20px;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    background-color: #03A9F4;
    color: white;
}
