.course {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
}

.course__info-header {
    display: flex;
    background-color: #03A9F4;
    color: white;
    flex-direction: column;
}

.course__title-row {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
}

.course__description {
    line-height: 28px;
    background-color: white;
    padding: 20px;
}

.course__button-group {
    margin-left: auto;
}

.course__title {
    font-weight: 300;
}

.course__duration, .course__creation-date {
    font-size: 17px;
    white-space: nowrap;
    font-weight: 300;
    color: #E4E4E4;
    letter-spacing: 1px;
}

.course__duration {
    min-width: 80px;
}

.course__creation-date {
    min-width: 120px;
}

.course__time-info {
    display: flex;
    padding: 5px 20px 20px 20px;
}

.course__button-group {
    display: flex;
}

.button-group__button-item {
     padding-left: 10px;
 }

.course__top-rated-icon {
    color: rgb(252, 248, 0);
    padding: 3px 0 0 12px;
    cursor: default;
}


@media (max-width: 780px) {
    .course__time-info {
        min-width: 100%;
        order: 1;
    }
}

@media (max-width: 550px) {
    .course {
        display: block;
    }

    .course__button-group {
        margin-bottom: 20px;
    }
}


