<div class="course">
    <div class="course__info">
        <div class="course__info-header">
            <div class="course__title-row">
                <h2 class="course__title">{{course.title}}</h2>
                <div class="course__button-group">
                    <app-button class="button-group__button-item" icon="edit" shape="round"></app-button>
                    <app-button class="button-group__button-item" icon="delete" shape="round" (click)="deleteCourse()"></app-button>
                </div>
            </div>
            <div class="course__time-info">
                <div class="course__duration">{{course.durationMin + ' min'}}</div>
                <div class="course__creation-date">{{getFormattedCourseDate()}}</div>
            </div>
        </div>

        <p class="course__description">{{course.description}}</p>
    </div>

</div>
