@import '../input/input.component.css';

.labeled-input__container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.labeled-input__label {
    font-weight: 300;
    color: #8a8a8a;
    margin-bottom: 6px;
}
