.input {
    display: flex;
    padding: 0 6px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #BDBDBD;
}

.input_s {
    height: 24px;
}

.input_m {
    height: 30px;
}

.input_l {
    height: 36px;
}
