<div class="edit-course__container">
    <form (ngSubmit)="onSubmit()" [formGroup]="editCourseForm" class="edit-course__form">
        <mat-form-field>
            <input formControlName="title" matInput placeholder="Title">
        </mat-form-field>
        <mat-form-field>
            <textarea formControlName="description" matInput placeholder="Description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="date" placeholder="Date" matInput [matDatepicker]="myDatepicker">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>

        <div class="form__form-item form__duration">
            <mat-form-field>
                <input type="number" formControlName="duration" matInput placeholder="Duration">
            </mat-form-field>
            <div class="duration__formatted-duration">{{ editCourseForm.value.duration | formatMinutes }}</div>
        </div>
        <mat-form-field>
            <input formControlName="authors" matInput placeholder="Authors">
        </mat-form-field>
        <div class="button-group">
            <button class="button-group__save-button" type="submit" mat-raised-button color="primary" [disabled]="!editCourseForm.valid">Save</button>
            <button (click)="onCancelClick()" mat-raised-button color="warn">Cancel</button>
        </div>
    </form>
</div>
