<div class="add-course__container">
    <div class="add-course__form">
        <app-labeled-input class="form__form-item" label="Title">
            <app-input size="l" placeholder="Enter course title"></app-input>
        </app-labeled-input>
        <app-labeled-input class="form__form-item" label="Description">
            <app-text-area placeholder="Enter course title" label="title"></app-text-area>
        </app-labeled-input>
        <app-labeled-input class="form__form-item" label="Date">
            <app-input size="l" placeholder="Enter course title"></app-input>
        </app-labeled-input>
        <app-labeled-input class="form__form-item" label="Duration">
            <app-input size="l" placeholder="Enter course title"></app-input>
        </app-labeled-input>
        <app-labeled-input class="form__form-item" label="Authors">
            <app-input size="l" placeholder="Enter course title"></app-input>
        </app-labeled-input>
        <div class="button-group">
            <app-button label="Save" class="button-group__save-button" color="green" size="l"></app-button>
            <app-button label="Cancel" color="red" size="l"></app-button>
        </div>
    </div>
</div>
