.courses-toolbox {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.courses-toolbox__search {
    display: flex;
    flex-wrap: nowrap;
    width: 40%;
    min-width: 500px;
}

.courses-toolbox__search-input {
    width: 100%;
}

.courses-toolbox__search-button {
    margin-left: 20px;
}

@media (max-width: 520px)  {

    .courses-toolbox__search,
    .courses-toolbox__search-input,
    .courses-toolbox__search-button,
    .courses-toolbox__add-course-button {
        flex-grow: 1;
    }
    .courses-toolbox__add-course-button {
        margin: 20px 0 0 0;
    }
}

@media (max-width: 1000px) {
    .courses-toolbox__search {
        width: auto;
    }
}


@media (max-width: 780px) {
    .courses-toolbox__search {
        min-width: auto;
        width: 70%;
    }
}
