.logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.logo__image {
    width: 48px;
    height: 48px;
}

.logo__name {
    margin-left: 14px;
    color: white;
}

@media (max-width: 380px) {
    .logo {
        font-size: 22px;
    }
    .logo__image {
        width: 36px;
        height: 36px;
    }
}
