.logo {
    font-weight: 500;
    font-size: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo__image {
    width: 48px;
    height: 48px;
}

.logo__name {
    margin-left: 14px;
    color: white;
}

@media (max-width: 420px) {
    .logo__name {
        font-size: 22px;
    }
    .logo__image {
        width: 36px;
        height: 36px;
    }
}

@media (max-width: 420px) {
    .logo__name {
        font-size: 18px;
    }
    .logo__image {
        width: 32px;
        height: 32px;
    }
}

