@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
* { box-sizing: border-box}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #efefef;
}

h2,p {
    margin: 0;
}

html,
body {
    height: 100%;
}

.modal-container {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
