@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
* { box-sizing: border-box}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #efefef;
}

h2,p {
    margin: 0;
}

html,
body {
    height: 100%;
}
